GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-gcs-bucket-name
GCS_RAW_PREFIX=raw/
BQ_RAW_DATASET=raw
BQ_STAGING_DATASET=staging
BQ_MART_DATASET=mart
BQ_REPORTING_DATASET=reporting
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/gcp-service-account-key.json
AIRFLOW__API__AUTH_BACKENDS=airflow.api.auth.backend.basic_auth